/*general*/
body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
}

h6{
    font-size: 1.2vw;
    margin: 0;
}

/*home section*/

.bg-image{
    position: absolute;
    width: 100%;
    z-index: -1;
}

/*nav bar section*/

.nav-bar{
    background-color: white;
    height: 100%;
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    position: fixed;
    box-shadow: 0px 0px 50px -12px rgba(58, 57, 57, 0.84);;
    padding: 0%;
    z-index: 2;
}

.gdg-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625rem;
    flex-wrap: nowrap;
    width: 4.063rem;
    filter: invert(80%) sepia(42%) saturate(7492%) hue-rotate(237deg) brightness(140%) contrast(100%);
}

.click {
    background-color: #3C72DF;
    border-radius: 50%;
    height: 3.125rem;
    width: 3.125rem;
    position: absolute;
    left: 1.563rem;
    z-index: -1;
    box-shadow: 10px 6px 20px -10px rgba(0, 0, 0, 0.89);
}

.nav-child{
    margin: auto;
    margin-top: 8.125rem;
}

.nav-links {
    border-radius: 50%;
    height: 2.813rem;
    width: 2.813rem;
    margin: auto;
    text-align: center;
    margin-top: 3.125rem;
}

.contact{
    margin-left:1.438rem;
}

.nav-links img {
    width: 1.563rem;
}

.nav-bar h4,.nav-bar a{
    margin-top: 0;
    text-decoration: none;
    color: #2D3DDF;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight:900;
}

.clicked h4{
    color: white;
}

/*home*/
.home-class{
    color: white;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-logo{
    width: 12.5vw;
    margin-bottom: 1.25vw;
}

.main-home{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-top: 3.125vw;
    margin-left: 6.25vw;
}

.main-home h1{
    line-height: 1.04;
    font-size: 3vw;
    font-weight: 900;
    width: 37.5vw;
}

.main-home p{
    width: 43.75vw;
    font-size: 0.9vw;
}

.location{
    display: flex;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 18.75vw;
    height: 3.438vw;
}
.location img{
    height: 1.25vw;
    margin: 0.375vw;
    margin-left: 0.625vw;
}

.location-text{
    margin-left: 0.688vw;
    margin-top: 0.313vw;
}

.date{
    margin-top: 0.625vw;
    display: flex;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 18.75vw;
    height: 2.5vw;
}

.date img {
    height: 1.25vw;
    margin: 0.375vw;
    margin-left: 0.625vw;
}

.date div {
    margin-left: 0.688vw;
    margin-top: 0.5vw;
}

.btn{
    margin-top: 1.5vw;
    margin-left: 3vw;
    width: 10vw;
    font-size: 1.25vw;
    padding-top:0.5vw ;
    padding-bottom: 0.5vw;
}

/*events-section*/

#events-section{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25vw;
}

#events-section p{
    color: #6B6969;
    font-size: 0.938vw;
    text-align: left;
    margin: 0 1.875vw;
}

.between-section-heading{
    font-size: 3.125vw;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3vw;
    text-align: center;
    margin-left: 100px;
}


.events{
    border-radius: 1.063vw;
    background-color: rgb(255, 255, 255);
    height: 23.125vw;
    width: 16.875vw;
    padding-top: 1.25vw;
    box-shadow: 0px 17px 35px 0px rgba(73, 72, 72, 0.25);
    margin: 1.875vw 3.75vw;
    text-align: center;
}

.events img{
    width: 12.5vw;
}

.event-text{
    text-align: left;
}

.event-title{
    text-align: center;
    margin: 1.33vw 0;
    font-size: 1.5vw;
}

/*About us section*/
#aboutus-section{
    text-align: center;
}

.aboutus-text {
    text-align: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #6B6969;
    font-size: 1.25vw;
}

.text{
    margin-left: 100px;
}

.aboutsetif{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 10vw;
    margin-bottom: 10vw;
    position: relative;
}

.style-img{
    width: 30vw;
    position: absolute;
    z-index: -1;
    top: auto;
    bottom: auto;
}

.abts{
    height: 30vw;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5vw;
    margin-left: 15vw;
}

.setif-text{
    margin-left: 3vw;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.setif-text h2{
    margin-bottom: 3vw;
    width: 27vw;
    font-size: 2.3vw;
}

.setif-text p{
    font-size: 1.1vw;
    font-family: 'Roboto', sans-serif;
    color: #6B6969;
}

/*contact section*/

.contact-parent{
    display: flex;
    width: 25vw;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
    padding-left: 100px;
    padding-bottom: 5vw;
}

.contact-parent img{
    width: 2.5vw;
}

/*admin button*/
.edit-btn{
    height: 2.5vw;
    width: 5vw;
    margin-top: 1.5vw;
    margin-left: 0;
    font-size: 0.8vw;
    font-weight: 900;
    padding-top: 0.65vw;
    padding-right: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0.3vw;
}

.edit-btn img{
    width: 1.3vw;
    margin: auto;
    margin-left: 0vw;
}

.edit-btn:hover img{
    filter: brightness(0);
}

/*placeholders*/

.placeholder1{
    width: 100%;
    height: 31.25vw;
}

.placeholder2{
    width: 100%;
    height: 18.75vw;
}

/*responsivnesss*/

@media (max-width:767px){
    h6{
        font-size: 6vw;
        text-align: left;
    }
.nav-bar {
    background-color: white;
    width: 100%;
    height: 15vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 0px 50px -12px rgba(58, 57, 57, 0.84);
    display: flex;
    flex-direction: row;

    }
        .gdg-logo {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 1.5vw;
            flex-wrap: nowrap;
            width: 12vw;
            filter: invert(80%) sepia(42%) saturate(7492%) hue-rotate(237deg) brightness(140%) contrast(100%);
        }
        .nav-child {
            margin: auto;
            margin-right: 0.3vw;
            display: flex;
            flex-direction: row;
            position: relative;
        }
        .nav-links {
            border-radius: 50%;
            height: 11vw;
            width: 11vw;
            margin: auto;
            text-align: center;
            margin-left: 4vw;
        }
        .nav-links img {
            width: 5vw;
        }
        .nav-bar h4,
        .nav-bar a {
            margin-top: 0;
            text-decoration: none;
            color: #2D3DDF;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 2vw;
            font-weight: 900;
        }
        .clicked h4 {
            color: white;
        }
        .click {
            background-color: #3C72DF;
            border-radius: 50%;
            height: 10vw;
            width: 10vw;
            position: absolute;
            left: 4.5vw;
            z-index: -1;
            box-shadow: 10px 6px 20px -10px rgba(0, 0, 0, 0.89);
        }
        .text{
            margin:auto 0;
        }
        .between-section-heading{
            margin-left: 0;
        }
        .home-class{
            margin-left: 0;
        }
        body{
            padding-bottom: 18vw;
        }
        .home-logo {
            width: 45vw;
            margin: 8vw;
            margin-bottom: 3vw;
        }
        #events-section p {
            color: #9f9898;
            font-size: 5vw;
            text-align: left;
            margin: 10vw 10vw 5vw;
        }
        .events {
            border-radius: 5vw;
            background-color: rgb(255, 255, 255);
            height: 120vw;
            width: auto;
            box-shadow: 0px 17px 35px 0px rgba(73, 72, 72, 0.25);
            margin:3.75vw auto;
            text-align: center;
        }
        .events img {
            width: 60vw;
            margin-top: 8vw;
        }
        .event-title {
            text-align: center;
            margin: 6vw 0;
            font-size: 10vw;
        }
        .aboutus-text {
            text-align: center;
            margin: 0 auto;
            font-family: 'Roboto', sans-serif;
            color: #6B6969;
            font-size: 2.5vw;
        }

        .main-home h1 {
            text-align: center;
            line-height: 1.5;
            font-size: 3.5rem;
            font-weight: 900;
            width: 90vw;
            margin: auto;
        }
        .main-home p {
            width: 90vw;
            font-size: 1.1rem;
            text-align: center;
            margin: auto;
            margin-top: 4vw;
        }

        .main-home{
            margin: 0;
        }

        .details{
            width: 70vw;
            margin: auto;
            margin-top: 10vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .location {
            display: flex;
            flex-direction: row;
            background-color: white;
            background-color: rgba(255, 255, 255, 0.1);
            width: 60vw;
            height: 12vw;
            margin-bottom: 3vw;
        }
        .date {
            display: flex;
            background-color: white;
            background-color: rgba(255, 255, 255, 0.1);
            width: 60vw;
            height: 8vw;
        }

        .date div{
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2vw;
        }

        .date h6{
            font-size: 5vw;
            margin: auto;
        }

        .details img {
            height: 5vw;
            margin: 2vw;
            margin-left: 1vw;
        }
        .location-text {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: auto;
        }

        .location-text h6{
            display: inline-block;
        }

        .location-text p{
            display: inline-block;
            font-size: 3.5vw;
            margin: 0;
            width: auto;
            text-align: center;
        }

        .button-holder{
            display: flex;
            align-items: center;
        }

        .btn {
            margin: auto;
            margin-top: 15vw;
            width: 50vw;
            font-size: 5vw;
            padding-top: 2vw;
            padding-bottom: 2vw;
            font-weight: 600;
            letter-spacing: 1vw;
            text-align: center;
        }
                .bg-image {
                    position: absolute;
                    width: 450%;
                    z-index: -1;
                    left: -200vw;
                }
        .between-section-heading {
            font-size: 10vw;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 10vw;
            text-align: center;
        }
        .placeholder1 {
            width: 100%;
            height: 45vw;
        }
        .aboutus-text {
            text-align: left;
            font-size: 5vw;
        }
        .aboutsetif {
            flex-direction: column;
            margin-left: 0;
            margin-top: 5vw;
        }
        .abts {
            height: auto;
            width: 50vw;
            margin-left: 30vw;
            margin-bottom: 2vw;
        }
        .style-img {
            width: auto;
            height: 60vw;
        }
        .setif-text p {
            font-size: 5vw;
        }
        .setif-text h2 {
            margin-bottom: 3vw;
            width: auto;
            font-size: 7vw;
        }
        .contact-parent {
            width: 70vw;
            margin-top: 4vw;
            padding-left: 0;
            padding-bottom: 5vw;
        }
    
        .contact-parent img {
            width: 11vw;
        }
}
